body{
    margin: 30px;
    padding: 0;
    font-family: 'Source Sans Pro', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:mediumpurple;
}
.container {
    padding: 0;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(8,1fr);
    margin: 5px 15px;
    gap: 20px;
    position: relative;
}
.card {
    width: 100%;
    height: auto;
    grid-column: span 8;
    margin: 10px 0;
    border-radius: 15px;
    position: relative;
    box-shadow: 0 10px 10px rgba(0,0,0,.1);
    background-color:beige;
}
.head-card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 15px;
}
.body-card {
    padding: 10px 15px;
}
.body-card h2 {
    margin: 15; 
    text-align: center; 
}
