body{
    margin:0px;
    padding: 0;
    font-family: 'Source Sans Pro', sans-serif;
    justify-content: center;
    align-items: center;
    background-color:cornsilk;
}
header{
    width: 100%;
    height: 100%;
}
h1{
    text-align: center;
    color: black;
    
}
p{
    text-align: center;
    color: white;
}
.container {
    padding: 0;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    margin: 5px 15px;
    gap: 20px;
    position: relative;
}
.card {
    display: grid;
    width: 100%;
    height: auto;
    grid-column: 4span;
    margin: 10px 0;
    border-radius: 15px;
    position: relative;
    box-shadow: 0 10px 10px rgba(0,0,0,.1);
    background-color:beige;
}
.head-card img {
    width: 100%;
    height: 200px;
    border-radius: 15px;
    object-fit: cover;
}
.body-card {
    padding: 10px 15px;
}
.body-card h2 {
    margin: 15; 
    text-align: center; 
}
.body-card h3 {
    margin: 15; 
    text-align: center; 
}
.body-card img{
    width: 10%;
    display: block;
    margin: auto;
}
.body-card span ul{
    list-style-type: square;
}
.body-card .p1{
    text-align:start;
    padding-bottom: 5px;
}
button{
    background-color: sandybrown;
    padding: auto;
    margin-top: 10px;
}
tr:nth-child(odd){
    background-color: white;
}
.card:nth-row(1){
    margin-top: 0%;
}
.card:nth-row(3){
    margin-bottom: 0%;
}
.footer-distributed{
	background-color:khaki;
	box-sizing: border-box;
	width: 100%;
	text-align: left;
	font: bold 16px sans-serif;
	padding: 50px 50px 60px 50px;
	margin-top: 80px;
}
.footer-distributed .footer-links{
    text-align: center;
	color:  #ffffff;
	margin: 20px 0 12px;
    color: white;
}
